
  #activities {
    background-color: white;
    height: 500px;
    overflow-y: scroll
  }

  .container {
    margin-left: 0;
    width:100%;
   }

  #profile-picture {
    width: 85%;
    height: 85%;
    margin-left: 20%;
    margin-top: 20%;
    border-radius: 65em;
    -moz-border-radius: 65em;
    -webkit-border-radius: 65em;
    display: block;

  }

  .col-md-2{
    height: 100vh;
    background-color: #4C9095;
  }