 .change-info-box{
   height: 31px;
   margin-bottom: 10px;
 }

 .form-inline .form-control {
   margin-right: 0px;
 }

 h1 {
   font-size: 26px;
   color: #375F6F;
 }

 h2 {
   font-size: 20px;
   margin-bottom: 20px;
   color: #375F6F;
 }

 hr {
   border-top: 2px solid #375F6F;
 }

 input, button, select, textarea {
   margin-right: 10px;
 }

 #title {
   color: #375F6F;
 }
